@model WEBComputadora.Model.ViewModels.ComputadorasMemorias.ComputadoraMemoriaDisplayViewModel

@{
    ViewBag.Title = "Ver " + Model.ComputadoraDescripcion;
}

<h1>@Model.MemoriaDescripcion</h1>
<h2>@Model.ComputadoraDescripcion</h2>

<div class="row">
    <div class="col-xs-12">

    </div>
</div>




